<div id="product-list">
	<h1>Product Listing</h1>

<table cellpadding="5" cellspacing="0">
	<% for product in @products %>
		<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even')%>">
		
			<td>
				<img class="list-image" src="<%= product.image_url %>"/>
			</td>
			
			<td width="60%">
				<span class="list-title"><%= h(product.title) %></span><br/>
				<%= h(truncate(product.description, 80)) %>
			</td>
    
			<td class="list-actions">
				<%= link_to 'Show', :action => 'show', :id => product %><br/>
				<%= link_to 'Edit', :action => 'edit', :id => product %><br/>
				<%= link_to 'Destroy', { :action => 'destroy', :id => product }, :confirm => 'Are you sure?', :method => :post %>
			</td>
		</tr>
	<% end %>
</table>
</div>

<%= link_to 'Previous page', { :page => @product_pages.current.previous } if @product_pages.current.previous %>
<%= link_to 'Next page', { :page => @product_pages.current.next } if @product_pages.current.next %> 

<br />

<%= link_to 'New product', :action => 'new' %>
