<h1>Your Pragmatic Catalog</h1>

<% for product in @products -%>
	<div class="entry">
		<img src="<%= product.image_url %>"/>
		<h3><%= h(product.title) %></h3>
		<%= product.description %>
		<span class="price"><%= number_to_currency(product.price) %></span>
		<%= button_to "add to Cart", :action => :add_to_cart, :id => product %>
	</div>
<% end %>
