<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<head>
		<title>Pragprog Books Online Store</title>
		<%= stylesheet_link_tag "depot.css", :media => "all" %>
	</head>

<body id="store">
	<div id="banner">
		<%= image_tag("logo.png") %>
		<%= @page_title || "Pragmatic Bookshelf" %>
	</div>
  
	<div id="columns">
		<div id="side">
			<a href="http://www....">Home</a><br />
			<a href="http://www..../faq">Questions</a><br />
			<a href="http://www..../news">News</a><br />
			<a href="http://www..../contact">Contact</a><br />
		</div>
    
		<div id="main">
			<%= yield :layout %>
		</div>
	</div>
</body>

</html>
